<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        label{
            width:80px;
            text-align:right;
            display:inline-block;
        }
    </style>
</head>
<body>
    <form action="/login/" method="post">
        <p>
            <label for="type">type:</label>
            <input name="type" type="radio" value="3" checked>校长
            <input name="type" type="radio" value="2">主任
            <input name="type" type="radio" value="1">教工
        </p>
        <p>
            <label for="username">username:</label>
            <input id="username" name="username" type="text" />
        </p>
        <p>
            <label for="password">password:</label>
            <input id="password" name="password" type="password" />
            <input type="submit" value="submit">
        </p>
        <span style="color: red;">{{ error_msg }}</span>
    </form>
</body>
</html>